.span-22
	.docs-title
		%h3= "Milo reviews API"
	.docs-body
		%p= "This endpoint returns a list of reviews for a product. A product ID can be used to query the reviews. Again, similar to the other store address API, it is more beneficial to use this in combination with the product search API, where the product_id is returned to us in the output response."
		= render :partial => "home/code/reviews_response_api"
		
		