.span-22
	.docs-title
		%h3= "Milo store addresses API"
	.docs-body
		%p= "The store address endpoint returns information about stores in a particular location. This can be used to get a list of all merchants around an area or specific merchants, if their merchant ID is known."
		= render :partial => "home/code/store_address_api_1"
		
		