.span-22
	.docs-title
		%h3= "Milo product search API"
	.docs-body
		%p= "The product search returns detailed information about a product. Location parameters are optional. You can use the same location parameters as explained in the store address API section. Other optional values here are pagination options and sorting details."
		= render :partial => "home/code/product_response_api"