.span-22
	.docs-title
		%h3= "Milo inventory (availability) search API"
	.docs-body
		%p This endpoint provides the information availability of a product. It accepts a product_id and returns availability information. Location is a mandatory field.
		= render :partial => "home/code/inventory_response_api"